/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.property_setting_div {
	display: flex; 
	width: 100%;
	margin-bottom: 2%;
    margin-top: 2%;
} 
.width_50_per {
	width: 50%;
}
.property_setting_label{
	float: left;
    width: 30%;
}
.float_left{
	float: left;
}
.property_container {
	margin: 20px auto;
	padding: 0 20px;
}
.property_list_item {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.property_list_item img {
	width: auto;
	height: auto;
	margin-right: 20px;
	border-radius: 5px;
}
.property_list_item h2 {
	margin: 0;
	font-size: 18px;
}
.sold {
    background-color: #D32F2F;
    font-size: 12px;
    font-weight: bold;
    color: #fff !important;
    padding: 5px 15px;
    border-radius: 8px;
}
.available {
    background-color: #43A047;
    font-size: 12px;
    font-weight: bold;
    color: #fff !important;
    padding: 5px 15px;
    border-radius: 8px;
}
.float_left_width_100 {
    float: left;
    width: 100%;
}
.image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-container {
    position: absolute;
}
.list_img{
	float: left;
    margin-right: 2%;
}
.img_h_w {
	height: 100px;
    width: 100px;
    position: relative;
}
.view-image-button,
.remove-image-button{
	display: none;
}
.gallery-images-list .fa-trash {
	display: none;
	font-size:20px;
	color:red;
	cursor: pointer;
	/*background: white;*/
	padding: 2px;
}
.gallery-images-list .fa-eye {
	display: none;
	font-size:20px;
	color:#2271e1;
	cursor: pointer;
	/*background: white;*/
	padding: 2px;
}
/* Popup container styles */
.popup-container {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

/* Close button styles */
.close-popup-btn {
    position: absolute;
    top: 30px;
    right: 25px;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
}
.image-container-popup {
    text-align: center;
    margin-top: 10%;
}
.popup-image {
    height: 400px;
    width: auto;
}
li.list_img:hover .img_h_w {
    opacity: 0.5;
}
.property_view_item {
	display: flex;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.property_view_item img {
	width: 780px;
    height: 525px;
	margin-right: 20px;
	border-radius: 5px;
}
.property_view_item h2 {
	margin: 0;
	font-size: 18px;
}
.margin_bottom_10px {
	margin-bottom: 10px !important;
}